body {
  margin: 0;
}
#recent-posts {
  color: #008000;
}
#index_page {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
#index_page .black_linear {
  position: fixed;
  top: 40vmin;
  height: 24vmin;
  width: 100vw;
  display: flex;
}
#index_page .black_linear .left {
  width: 50px;
  height: 100%;
  background-color: #000;
}
#index_page .black_linear .logo {
  height: 100%;
  background-color: #fff;
  margin: 0 20px;
  display: flex;
  align-items: end;
}
#index_page .black_linear .logo .text {
  font-size: 20vmin;
  font-family: Noto Sans SC;
  font-weight: 900;
}
#index_page .black_linear .logo .svg {
  position: absolute;
  left: 0;
  height: 12%;
  margin-left: 75px;
}
#index_page .black_linear .right {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  background: linear-gradient(to right, #000, #fff);
}
#index_page .black_linear .right .img_container {
  transform: scale(1.2);
  overflow: hidden;
  height: 100%;
  width: 120%;
  display: flex;
  align-items: center;
  mask: linear-gradient(to right, rgba(0,0,0,0) 10%, #000 50%);
}
#index_page .black_linear .right .img_container .slide_icon {
  position: absolute;
  font-size: 30px;
  color: #fff;
  zoom: 0.3;
  padding: 0 18px;
  transition: all 0.3s;
  height: 65%;
}
#index_page .black_linear .right .img_container .slide_icon.anime_1 {
  animation: run1 20s infinite linear;
}
#index_page .black_linear .right .img_container .slide_icon.anime_2 {
  animation: run2 20s infinite linear;
}
#index_page .black_linear .right .img_container:hover .anime_1,
#index_page .black_linear .right .img_container:hover .anime_2 {
  animation-play-state: paused;
}
@-moz-keyframes run1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes run1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes run1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes run1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes run2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes run2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@-o-keyframes run2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes run2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
