body {
  margin: 0;
  animation: zoom-in 0.5s cubic-bezier(0, 1, 1, 1);
  transform-origin: 50vw 50vh;
}
#menu-outer {
  position: fixed;
}
#recent-posts {
  color: #008000;
}
#index_page {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
#index_page .black_linear {
  position: fixed;
  top: 50vmin;
  height: 24vmin;
  width: 100vw;
  display: flex;
  transform: translateY(-50%);
}
#index_page .black_linear .left {
  width: 50px;
  height: 100%;
  background-color: #000;
  animation: left-in 1.5s cubic-bezier(0.6, 0, 0.5, 1);
}
#index_page .black_linear .logo {
  height: 100%;
  background-color: #fff;
  margin: 0 20px;
  display: flex;
  align-items: end;
}
#index_page .black_linear .logo .text {
  font-size: 20vmin;
  font-family: Noto Sans SC;
  font-weight: 900;
}
#index_page .black_linear .logo .svg {
  position: absolute;
  left: 0;
  height: 12%;
  margin-left: 75px;
}
#index_page .black_linear .right {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  background: linear-gradient(to right, #000, #fff);
  overflow: hidden;
  animation: right-color-in 1.5s linear;
}
#index_page .black_linear .right .img_container {
  transform: scale(1.2);
  overflow: hidden;
  height: 100%;
  width: 120%;
  display: flex;
  align-items: center;
  mask: linear-gradient(to right, rgba(0,0,0,0) 10%, #000 50%);
  animation: opacity-in 3s ease-in-out;
}
#index_page .black_linear .right .img_container .slide_icon {
  position: absolute;
  font-size: 30px;
  color: #fff;
  zoom: 0.3;
  padding: 0 18px;
  transition: all 0.3s;
  height: 65%;
}
#index_page .black_linear .right .img_container .slide_icon.anime_1 {
  animation: run1 20s infinite linear;
}
#index_page .black_linear .right .img_container .slide_icon.anime_2 {
  animation: run2 20s infinite linear;
}
#index_page .black_linear .right .img_container:hover .anime_1,
#index_page .black_linear .right .img_container:hover .anime_2 {
  animation-play-state: paused;
}
@-moz-keyframes run1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes run1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes run1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes run1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes run2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes run2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@-o-keyframes run2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes run2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@-moz-keyframes left-in {
  0% {
    width: 40%;
  }
  100% {
    width: 50px;
  }
}
@-webkit-keyframes left-in {
  0% {
    width: 40%;
  }
  100% {
    width: 50px;
  }
}
@-o-keyframes left-in {
  0% {
    width: 40%;
  }
  100% {
    width: 50px;
  }
}
@keyframes left-in {
  0% {
    width: 40%;
  }
  100% {
    width: 50px;
  }
}
@-moz-keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes zoom-in {
  0% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes zoom-in {
  0% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes zoom-in {
  0% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoom-in {
  0% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes right-color-in {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes right-color-in {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@-o-keyframes right-color-in {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes right-color-in {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
